.bostami-page-content-wrap {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.bostami-page-title-wrap p {
    max-width: 632px;
}

.footer-copyright {
    background-color: #f3f6f6;
    width: 100%;
}


.textContainer p,
.educationDetails,
.detailsContainer p,
.skillsContainer ul li,
.ul li {
    font-size: 1.125rem;
}

.tabTitles {
    display: flex;
    margin: 1rem 0;
    color: #000;
}

.tabLinks {
    margin-right: 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    color: #000;
}

.tabLinks::after {
    content: "";
    width: 0;
    height: 3px;
    background: #E60E5C;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.5s;
}

.tabLinks.activeLink::after {
    width: 100%;
}

.tabContents {
    display: none;
}

.tabContents.activeTab {
    display: block;
}

.detailsContainer {
    height: 14.5rem;
}

.tabContents ul li {
    list-style: none;
}

.detailsContainer p {
    margin: 8px 0;
}

.detailHeading {
    color: #E60E5C;
    font-size: 1.2rem;
    line-height: 1rem;
}

.skillsContainer ul li {
    margin-top: 1rem;
}

.ul li {
    margin-top: 5px;
    padding-left: 2rem;
    color: #44566c;
}

.topicContainer {
    text-align: center;
}

/* .educationDetails {
    padding-bottom: 6px;
} */

#msg {
    color: #237e13;
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-wrapper:is(.pr-60) {
        padding-right: 40px;
    }

    .section-wrapper:is(.pl-60) {
        padding-left: 40px;
    }
}

@media (max-width: 767px) {
    .section-wrapper:is(.pr-60) {
        padding-right: 20px;
    }

    .section-wrapper:is(.pl-60) {
        padding-left: 20px;
    }

    .tabLinks {
        margin-right: 4rem;
        font-size: 1.2rem;
    }

    .tabLinks::after {
        bottom: -7px;
    }

    .tabTitles {
        margin: 7px 0;
    }

    .textContainer p,
    .educationDetails,
    .detailsContainer p,
    .ul li,
    .skillsContainer ul li {
        font-size: 1rem;
    }

    .detailsContainer {
        height: 16rem;
    }

    .detailHeading {
        font-size: 1.1rem;
        line-height: 14px;
    }

    .ul li {
        padding-left: 1rem;
    }
}

@media (max-width: 500px) {
    .tabLinks {
        margin-right: 2rem;
        font-size: 1rem;
    }

    .tabLinks::after {
        bottom: -5px;
    }

    .tabTitles {
        margin: 5px 0;
    }

    .textContainer p,
    .educationDetails,
    .detailsContainer p,
    .ul li,
    .skillsContainer ul li,
    .bostami-page-title-wrap p {
        font-size: 14px;
    }

    .detailsContainer {
        height: 19rem;
    }

    .ul li {
        padding-left: 14px;
    }

    .detailHeading {
        font-size: 1rem;
        line-height: 13px;
    }
}

@media (max-width:410px) {
    .tabLinks {
        margin-right: 1rem;
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .detailsContainer .skillsContainer ul {
        padding-left: 10px;
    }

    .detailHeading {
        font-size: 14px;
        line-height: 10px;
    }

    .textContainer p,
    .educationDetails,
    .detailsContainer p,
    .skillsContainer ul li,
    .ul li,
    .bostami-page-title-wrap p {
        font-size: 12px;
    }

    .detailsContainer p {
        margin: 0;
    }

    .ul li {
        padding-left: 12px;
    }
}